/* Dropdown Button */
.olapic-filters-btn {
    background-color: #222;
    color: $color-white;
    display: inline-block;
    padding: 0;
    font-size: 0;
    border: none;
    cursor: pointer;
    outline: none;

    &:after {
    	content: '\e815';
        color: $color-white;
    	font-family: 'olapic-icons';
    	margin-left: 5px;
    }

    &:hover,
    &:focus {
    	background-color: #222;
    }

}

#olapic-filters-btn-title {
    color: $color-white;
    font-size: 16px;
    text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
#olapic-filters {
    border: none;
    display: inline-block;
    padding: 0;
}

/* Dropdown Content (Hidden by Default) */
.nav.nav-pills {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    a {
	    color: $color-white;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;

	    a:hover {
	    	background-color: #111;	
	    }   	
    } 
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
}