html {
    background-color: #222;
    margin: 0;
}

.olapic__test {
    .dropdown {
        display: none;
    }

    .olapic__test-header {
        color: #fff;
        font-family: 'RobotoLight', Arial, sans-serif;
        text-align: center;
        position: relative;

        .olapic__test-header--title {
            font-size: 76px;
            font-weight: 100;
            letter-spacing: 30px;
            margin: 0;
        }

        .olapic__test-header--subtitle {
            font-size: 15px;
            letter-spacing: 10px;
            margin: 0 0 15px;
        }

        .olapic__test-header--hash {
            color: #00aaff;
            font-size: 22px;
            font-weight: bold;
        }

        .olapic__test-header--description {
            font-size: 14px;
            margin: 15px auto 0;
            max-width: 840px;
            width: 100%;
        }

    }

    .olapic-wall-widget {
        overflow: hidden;
        height: auto;
        margin: 0 auto;
        font-family: $fonts-default;
        
        * {
    	    box-sizing: border-box;
        }

        i {
            font-style: normal;
        }
        
        a,
        a:hover,
        a:focus,
        a:active {
    	    color: inherit;
    	    text-decoration: none;
    	    outline: none;
        }
        
        .btn {
    	    display: inline-block;
    	    font-size: 14px;
    	    font-weight: normal;
    	    line-height: 1.428571429;
    	    text-align: center;
    	    white-space: nowrap;
    	    vertical-align: middle;
    	    cursor: pointer;
    	    border-radius: 3px;

            &:focus,
            &:active {
                outline: none;
            }
        }

        /* Header */
        .olapic-wall-header {
            width: 100%;
            float: left;

            .olapic-top {
                width: 100%;

                .olapic-cover {
                    width: 100%;
                    float: left;
                }

                .olapic-tools {
                    position: relative;
                    height: 75px;
                    width: 100%;
                    float: left;
                    text-align: center;

                    i {
                        margin: 4px 0 0;
                    }

                    .olapic-upload {
                        display: inline-block;
                        width: auto;
                        margin: 20px auto;
                        padding: 10px 17px;
                        border-radius: 0;
                        border: 0;
                        font-family: $fonts-default;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 14px;
                        background: #61bc46;
                        text-decoration: none;

                        &:before {
                            content: '\e810';
                            font-family: 'olapic-icons';
                            margin-right: 5px;
                        }

                        &:hover {
                            padding: 10px 17px;
                            background: #43872f;
                        }
                    }
                }
            }
        }
        
        /* filters */
        .olapic-nav {
            position: relative;
            clear: both;
            width: 100%!important;
            margin: 0 auto;

            .olapic-categories-title {
                position: absolute;
                left: 20px;
                top: 18px;

                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: #5d5d5d;
                }
            }

            nav {
                border-bottom: 1px solid $color-gray;
                border-top: 1px solid $color-gray;
                width: 100%;
                padding: 10px 0;
                clear: both;
                width: 100%;

            }

            .nav {
                text-align: center;
                width: 100%;

                li {
                    display: inline-block;
                    float: none;
                }

                a {
                    padding: 6px 9px;
                    font-family: $fonts-default;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $color-white;
                    background: none;

                    i {
                        display: none;
                    }

                    &:hover {
                        background: $accent-color;
                    }
                }
            }
        }

        .olapic-header-column {
            position: relative;
            float: left;
            width: 33%;
        }

        .sticky-menu .olapic-wall-header .olapic-nav {
            position: fixed;
            z-index: 9000;
        }

        .filter-btn {
            border: 1px solid #d4d4d4;
            border-radius: 3px;
            float: left;
            margin: 2px;
            padding: 8px 13px !important;
            font-size: 12px;
            color: #5f5f5f;
            background: #f5f5f5 !important;
        }

        .filter-btn:focus {
            border-color: #d4d4d4 !important;
        }

        /* sticky nav */
        .olapic-nav-sticky {
            position: fixed;
            z-index: 1000;
            right: 0;
            top: 0;
            display: none;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #d7d7d7;
            text-align: center;
            background: rgba(#fff,.95);
            box-sizing: border-box;

            .olapic-open-sidebar {
                display: none;
            }

            .olapic-upload {
                position: relative;
                left: 94px;
                float: none;
                display: inline-block;
                margin: 0 auto;
            }

            .olapic-filter-sub {
                position: relative;
                top: 0;
                float: right;
                margin-right: 15px;
            }

            .olapic-view {
                position: relative;
                right: 0;
                top: 0;
                width: 100px;
                float: right;

                a {
                    float: left;
                    width: 33px;
                    height: 33px;
                    margin: 2px;
                    padding: 6px;
                    border-radius: 3px;
                    border: 1px solid $color-gray;
                    color: $color-black;
                    background: $color-white;
                }
            }

            .olapic-categories-title {
                position: relative;
                left: 20px;
                top: 21px;
                float: left;

                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: #5d5d5d;
                }
            }

        }


        .olapic-wall-list-container {
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            padding: 10px 0 80px;
            box-sizing: border-box;
            text-align: center;
        }

        /* image grid style */
        .olapic-wall-body {
            position: relative;
            clear: both;
        }

        .olapic-wall-wrapper {
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }

        .olapic-wall {
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;

            .olapic-related-products {
                display: none;
            }

            &.grid .item {
                position: relative;
                height: 290px;
                width: 290px;
                float: left;
                overflow: hidden;
                margin: 10px;

                .olapic-item-media {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: {
                        repeat: no-repeat;
                        position: center;
                        size: cover;
                    }
                }
            }

            .olapic-wall-type-video {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 150;
                    width: 65px;
                    height: 68px;
                    margin: -34px 0 0 -32px;
                    background: url('//photorankstatics-a.akamaihd.net/static/images/Viewer2/olapic/video-controls.png') no-repeat -38px -30px;
                    cursor: pointer;
                }
            }

            /* author info */
            .olapic-item-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border: none!important;
            }

            .olapic-permalink {
                display: block;
                height: 100%;
                width: 100%;
            }

            .olapic-moreinfo {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 77px;
                display: none;
                background: rgba(#fff,.9);

            }
            
            .item:hover {

                .olapic-moreinfo,
                .olapic-share,
                .olapic-btn-shopthislook {
                    display: block;
                }
            }

            .olapic-user-pic {
                position: relative;
                z-index: 2;
                width: 50px;
                height: 50px;
                float: left;
                margin: 13px 5px 13px 13px;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .olapic-user-info {
                position: relative;
                z-index: 2;
                float: left;
                width: 200px;
                height: 50px;
                margin: 13px 0 0;
                text-align: left;

                .olapic-user-name {
                    position: relative;
                    z-index: 2;
                    display: block;
                    max-width: 175px;
                    font-size: 14px;
                    font-weight: bold;
                    color: $color-black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .olapic-user-moreinfo {
                	margin: 4px 0;
                    font-size: 11px;
                    color: $color-black;
                }
            }

            .olapic-item-desc {
                display: none;
            }

            .olapic-btn-shopthislook {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 6px 12px;
                display: none;
                border: 0;
                color: #fff;
                font-family: $fonts-default;
                font-size: 12px;
                background: fade-out($accent-color, .2);

                &:hover {
                    background: $accent-color;
                }
            }

            /* packery image */
            &.mode_packery {
                padding: 0 70px;
                width: 100%;

                .item {
                    width: 150px;
                    height: 150px;
                    position: relative;

                    &:first-child {
                        width: 320px;
                        height: 320px;
                    }

                    &:nth-child(8),
                    &:nth-child(11) {
                        width: 320px!important;
                        height: 320px!important; 
                    }

                    &:nth-child(4),
                    &:nth-child(12){
                        width: 150px;
                        height: 150px;
                    }

                    .olapic-moreinfo,
                    .olapic-share {
                        display: none;
                    }

                    .olapic-btn-shopthislook {
                        left: 50%;
                        margin: 0 0 0 -52px;
                    }
                }
            }
        }

        .hide_item {
            display: none;
        }

        /* share icons */
        .olapic-share {
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;

            .btn {
                width: 30px;
                padding: 4px 6px;
                
                &:hover,
                &:focus {
                    outline: none;
                }
            }

            i {
                color: $color-white;

            }

            .fb {
                background: fade-out($color-facebook, .1);

                i {
                    @include icon($icon-facebook, before);
                }

                &:hover {
                    background: $color-facebook;
                }
            }

            .tw {
                background: fade-out($color-twitter, .1);

                i {
                    @include icon($icon-twitter, before);
                }

                &:hover {
                    background: $color-twitter;
                }
            }

            .pt {
                background: fade-out($color-pinterest, .1);

                i {
                    @include icon($icon-pinterest, before);
                }

                &:hover {
                    background: $color-pinterest;
                }
            }
        }

        /* load more */
        .olapic-widget-main-loading:nth-child(2n-1) {
            background-color: #fff;
        }

        .olapic-widget-main-loading {
            position: absolute;
            left: 104px;
            display: none;
            height: 50px;
            width: 50px;
            margin: 0 auto;
            transition: all .2s ease;
        }

        .loading-graph {
            position: relative;
            top: calc(50% - 2.5px);
            left: calc(50% - 2.5px);
            width: 5px;
            height: 5px;
            border-radius: 50px;

            &::before {
                position: absolute;
                top: -20px;
                width: 20px;
                height: 20px;
                border-radius: 0 50px 0 0;
                border-top: 3px solid #d1d1d1;
                border-right: 3px solid #d1d1d1;
                content: '';
                transform-origin: 0 100%;
                animation: loading-graph 1.5s linear infinite;
            }

            &::after {
                position: absolute;
                top: 3px;
                right: 3px;
                width: 20px;
                height: 20px;
                border-radius: 0 0 0 50px;
                border-bottom: 3px solid #d1d1d1;
                border-left: 3px solid #d1d1d1;
                content: '';
                transform-origin: 100% 0;
                animation: loading-graph 1.5s linear infinite;
            }
        }

        .olapic-loadmore {
            position: absolute;
            left: 50%;
            bottom: 40px;
            z-index: 900000;
            display: none;
            width: 155px;
            padding: 10px 17px;
            margin: 0 0 0 -75px;
            border-radius: 0;
            border: 1px solid $color-black;
            font-family: 'Helvetica', Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background: #61bc46;
            cursor: pointer;
        }

        /* footer */
        .olapic-wall-footer {
            position: relative;
            clear: both;
            min-height: 60px;
        }

        .olapic-footer-buttons {
            position: relative;
            width: 257px;
            margin: 0 auto;
        }

        .olapic-footer-button {
            height: 35px;
            width: 126px;
            overflow: hidden;
            background: {
                color: $accent-color;
                repeat: no-repeat;
                position: 8px 8px;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding-left: 33px;
                font-size: 10px;
                line-height: 34px;
                text-align: left;
                text-decoration: none;
                color: #fff;
            }
        }

        /* olapic attribution */
        .newcopyright-olapic {
            float: left;
            width: 100%;
            height: auto;
            margin: 20px 0 0;
            padding: 4px 0 0;
            line-height: 20px;

            p {
                margin: 0;
                text-align: right;
            }

            a {

                margin: 0;
                font-size: 12px;
                font-weight: bold;
                color: #fff!important;
                background: {
                    repeat: no-repeat;
                    position: 100% 0;
                }
                text-decoration: none;
            }
        }

        /* go to top */
        .go-to-top {
            position: fixed;
            bottom: 20px;
            right: 15px;
            z-index: 100;
            display: none;
            padding: 8px 5px;
            border: 1px solid #d4d4d4;
            border-radius: 3px;
            font-size: 1.5em;
            color: #5d5d5d !important;
            background: #f5f5f5 !important;
            opacity: .8;

            &:hover {
                text-decoration: none !important;
                opacity: 1;
            }

        }
    }

    @keyframes loading-graph {
        0% {
            transform: rotate(0deg);
        }
        
        100% {
            transform: rotate(360deg);
        }
    }

    /* ---- Browser Fixes ----*/
    .olapic-ie, 
    .olapic-firefox {
        
        a {
            outline: none;
        }
    }
}
