@media (max-width: 635px) {

    .olapic__test {

        .olapic-wall-widget {

            .olapic-nav {
                text-align: center;
                border-top: 1px solid #454545;
                border-bottom: 1px solid #454545;
                padding-bottom: 15px;

                .nav {

                    li {
                        background: #222;
                        display: block;
                        z-index: 999;

                        &:hover {
                            background: #000;
                        }

                        a {
                            color: #fff;
                            font-size: 16px;
                        
                            &:hover {
                                color: #222;
                            }
                        }

                        &:first-child {

                            a:after {
                                font-family: 'olapic-icons';
                                content: '\e815';
                                color: $color-white;
                                margin-left: 5px;
                            }

                        }

                    }

                    &.nav-pills {
                        box-shadow:none;
                        margin: 0 auto;
                        width: 50px;
                    }

                }
            
            }

        .olapic-wall-body {

            .olapic-wall-list-container {

                    .olapic-wall {

                            &.grid {
                                padding: 0;    
                            }

                           &.mode_packery {

                            .item {
                                width: 160px;
                                height: 160px;

                                &:nth-child(2) {
                                    margin-right: 10px;
                                }

                                &:nth-child(4) {
                                    margin-right: 0;
                                }

                                &:first-child,
                                &:nth-child(6) {
                                    width: 340px;
                                    height: 340px;
                                    margin-left: 10px;
                                }

                                &:nth-child(4){
                                    width: 160px;
                                    height: 160px;      
                                }

                                &:nth-child(7),
                                &:nth-child(8),
                                &:nth-child(9),
                                &:nth-child(10) {
                                    display: none;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) {

    .olapic__test {

        .olapic-wall-widget {

            .olapic-wall {

                //    &.mode_packery {

                //     .item {
                //         width: 100px!important;
                //         height: 100px!important;

                //         &:first-child,
                //         &:nth-child(8) {
                //             width: 210px!important;
                //             height: 210px!important;
                //         }

                //         &:nth-child(4),
                //         &:nth-child(10) {
                //             width: 100px!important;
                //             height: 100px!important;      
                //         }

                //     }
                // }
            }
        }
    }
}

@media (max-width: 420px) {

    .olapic__test {
        .olapic__test-header {
            .olapic__test-header--title {
                font-size: 52px;
            }

            .olapic__test-header--subtitle {
                font-size: 15px;
                letter-spacing: 10px;
                margin: 0 0 15px;
            }

            .olapic__test-header--hash {
                color: #00aaff;
                font-size: 22px;
                font-weight: bold;
            }

            .olapic__test-header--description {
                font-size: 14px;
                margin: 15px auto 0;
                max-width: 840px;
                width: 100%;
            }

        }

        .olapic-wall-widget {

            .olapic-wall {

                &.mode_packery {
                    padding: 0;
                }
                &.grid {

                    // .item {
                    //     height: 130px!important;
                    //     width: 130px!important;

                    //     &:first-child,
                    //     &:nth-child(6) {
                    //         width: 270px!important;
                    //         height: 270px!important;
                    //     }

                    //     &:nth-child(4) {
                    //         height: 130px!important;
                    //         width: 130px!important; 
                    //     }

                    //     &:nth-child(7),
                    //     &:nth-child(8),
                    //     &:nth-child(9),
                    //     &:nth-child(10),
                    //      {
                    //         display: none!important;
                    //     }
                    // }

                    .olapic-item-info {
                        display: none;
                    }
                }
            }
        }
    }
}